@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: black;
  text-decoration: none;
  text-align: center;
}
.search {
  border: none;
}

.company__logo {
  width: 150px;
  height: 50px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.small__container{
    max-width: 1100px;
    margin:0px auto;
}
p {
  margin-bottom: 20px;
  line-height: 150%;
}
.navbar-top {
  width: 100%;
  display: flex;
  padding: 50px 50px 0px 50px;
  align-items: center;
  justify-content: space-between;
}
.navbar-top__container {
  display: flex;
  margin: 0 auto;
}
.navbar-top__topmid a {
  padding: 20px;
}
.navbar-top__topmid {
  font-weight: 600;
  justify-content: space-between;
}
.navbar-top__topmid a:hover {
  color: rgb(83, 189, 149);
}
.navbar-top__topright {
  font-weight: 600;
}
.navbar-top__topright a {
  padding: 20px;
}
.navbar-top__topright__signup {
  background-color: rgb(83, 189, 149);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}
.navbar-top__topright__signup:hover {
  color: black;
}
.navbar-top__topright__login:hover {
  color: rgb(83, 189, 149);
}

.navbar-bottom {
  padding: 50px;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.navbar-bottom__bottomleft {
  display: flex;
  gap: 50px;
  text-align: center;
}
.navbar-bottom__bottomleft a {
  padding-bottom: 20px;
}
.navbar-bottom__bottomright {
  display: flex;
  align-items: center;
}
.navbar-bottom__bottomright__searchbar {
  align-items: center;
  border: none;
}
.navbar-bottom__container {
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.211);
}
.navbar-bottom a:hover {
  color: rgb(83, 189, 149);
}

.navbar-bottom__bottomleft a:hover {
  border-bottom: 1px solid #53bd95;
}
