*{
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
a{
    color:black;
    text-decoration: none;
    text-align:center;
    
}
.navbar1{
  
    width:100%;
    display: flex;
    margin-left: 100px;
    margin-top: 0px;
    margin:auto;
    padding: 20px;
    align-items: center;
    justify-content:space-between;
    
}

.topmid a {
    padding: 20px;
    
}
.topmid{

   font-weight: 600;
   justify-content: space-between;

}
.topright{
    font-weight: 600;
}
.topright a{
    padding: 20px;
}

.signup{
    background-color: rgb(83,189,149);
    color: antiquewhite;
    border-radius: 10%;
    margin-right: 5rem;
    
}
.signup:hover{
    color:black;
}

a:hover{
    color:rgb(83,189,149);
}
.navbar2{
 display:flex;
 align-items: center;
 justify-content: space-between;
 border-bottom: 1px solid black;
 padding: 20px;
 font-weight: 600;
 margin-left: 100px;
 margin-right: 100px;
 margin-top: 0px;
}
.bottomleft a{
padding:20px;
}
.bottomright{
    align-items: center;
}