*{
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
a{
    color:black;
    text-decoration: none;
    text-align:center;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content:space-between ;
}
input {
    border: none;  
}

.navbar-1{
    width:100%;
    display: flex;
    margin-left: 100px;
    margin-top: 0px;
    margin:auto;
    padding: 20px 0;
    align-items: center;
    justify-content:space-between;  
}
.navbar-1__container{
    display:flex;
    width: 1400px;
    margin:0 auto;  
}
.navbar-1__topmid a {
    padding: 20px;  
}
.navbar-1__topmid{
   font-weight: 600;
   justify-content: space-between;
}
.navbar-1__topmid a:hover{
    color:rgb(83,189,149);
}
.navbar-1__topright{
    font-weight: 600;
}
.navbar-1__topright a{
    padding: 20px;
}
.navbar-1__topright__signup{
    background-color: rgb(83,189,149);
    color: rgb(255, 255, 255);
    border-radius: 10%;
}
.navbar-1__topright__signup:hover{
    color:black;
}
.navbar-1__topright__login:hover{
    color:rgb(83,189,149);
}

.navbar-2{
 display:flex;
 align-items: center;
 justify-content: space-between;
 font-weight: 600;
 margin-top: 50px;
}
.navbar-2__bottomleft{
    display: flex;
}
.navbar-2__bottomleft a{
padding:20px;
}
.navbar-2__bottomright{
    display: flex;
    align-items: center;
}
.navbar-2__bottomright__searchbar{
    align-items: center;
}
.navbar-2__container{
    display: flex;
    width: 1400px;
    margin: 0 auto;   
    border-bottom: 1px solid black;
}
.navbar-2 a:hover{
    color:rgb(83,189,149);
}
.navbar-2__bottomleft a::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color:  rgb(83,189,149);
    transition: 0.3;
}
.navbar-2__bottomleft a:hover::after{
    width: 100%;
    transition: 0.4s;
}