.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}

.body__container1 {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px 50px;
  gap: 50px;
}
.body__container1__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body__aboutwriter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  margin: 10px 0px;
}
.body__container1__left__company {
  background-color: lightblue;
  color: blue;
  padding: 10px;
  border-radius: 5px;
}
.body__container1__left__company__picture {
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
}
.body__faceimage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.body__container2 {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.body__container2__left {
  padding: 15px;
  border-left: 08px solid #53bd95;
}
.body__container2__right {
  color: #53bd95;
}

.body__container3 {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  gap: 50px;
}
.body__container3__left__bottom__heading {
  margin: 20px 0px;
}
.body__container3__left__picture {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
.body__faceimagebottom {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
}
.body__container3__right__top {
  margin-bottom: 50px;
}
.body__container3__right__top__heading {
  margin-bottom: 20px;
}
.body__container3__right__bottom__heading {
  margin-bottom: 20px;
}
